.footer {
  width: 100%;
  background: #eeeeee;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-left img {
  width: 200px;
  background-color: rgb(129, 177, 232);
  border-radius: 10px;
}
.footer-icon {
  margin: 20px;
  display: flex;
  gap: 20px;
 
}
.icon {
  display: inline-block;
  border: 1px solid rgba(13, 13, 13, 0.765);
  border-radius: 80px;
  padding: 10px 13px;
  font-size: 25px;
  color: rgb(21, 20, 20);
 
}
.underline-footer{
  width: 100%;
  height: 1px;  
  background: #0d8cdc;
  margin-top: 5px;  
  margin-bottom: 5px;  
}

.footer-middle h3,.footer-right h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(18, 17, 17);
}
.footer-middle a,
ul {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: rgb(30, 29, 29);
  font-weight: 300;
  letter-spacing: 1px;
   
}
.middle{
  line-height: 20px;
}
.footer-right {
  margin: 20px;
}

.footer-right-address {
  margin-top: 10px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 20px;
}
.footer-right-address p {
  font-size: 16px;
  color: rgb(22, 21, 21);
}
.copy-right {
  text-align: center;
  padding: 20px;
  background: #eeeeee;
}

@media (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }

  .footer-left img {
    width: 150px;
  }
  .footer-icon {
    /* margin: 12px; */
    gap: 10px;
    padding-left: 10px;
  }
  .icon {
    border-radius: 80px;
    padding: 10px 12px;
    font-size: 16px;
  }
  .footer-right {
    margin: 10px;
  }
  .footer-right-a a {
    display: none;
  }
  .footer-right-address {
    margin-top: 30px;
  }
  .footer-right-address p {
    font-size: 16px;
  }
  .middle ul li a {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }

  .footer-left img {
    width: 150px;
  }
  .footer-icon {
    /* margin: 12px; */
    gap: 10px;
    padding-left: 10px;
  }
  .icon {
    border-radius: 80px;
    padding: 10px 12px;
    font-size: 14px;
  }
  .footer-right {
    margin: 10px;
  }
  .footer-right-a a{
    display: none;
  }
  .footer-right-address {
    margin-top: 20px;
  }
  .footer-right-address p {
    font-size: 14px;
  }
  .middle ul li a {
    font-size: 16px;
  }
  .copy-right{
    font-size: 12px;
  }
}
