.tcard{
    width: 100%; 
    height: 100%;
    background: white;
    padding: 10px;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 10px;
}
.tcard:hover{
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.379) ;
}
.underline1 {
    width: 100%;
    height: 1px;  
    background: #EEEEEE;
    margin-top: 8px;  
    margin-bottom: 8px;  
}
.tcard img {
    width: 100%; 
  }
  @media  (max-width: 500px) {
    .tcard{
      border-radius: 4px;
    }
  .tcard p{
    font-size: 12px;
  } 
}