.tcard{
    /* width: 100%; */
    /* border: 1px solid gray; */
    background: linear-gradient(white,rgb(212, 211, 211),rgb(237, 236, 236));
    padding: 10px;
    align-items: center;
    text-align: center;
    margin: 20px;
    
}
.underline1 {
    width: 100%;
    height: 1px; /* Thickness of the underline */
    background: linear-gradient(to right,#0000ff,#ff0000, #0000ff); /* Gradient from Red to Blue */
    margin-top: 5px; /* Adjust spacing */
    margin-bottom: 5px; /* Adjust spacing */
}
.tcard img {
    /* width: 100%; */
    transition: transform 0.5s ease-in-out;
  }
  
  .tcard img:hover {
    transform: scale(1.2); /* Zoom out effect */
  }
  @media  (max-width:1000px) {
  .tcard{
    margin: 10px;
  }
  .tcard img{
    width: 100px;
  }
    
}