.tapcard{
    background: #EEEEEE;
    width: 100%;
    /* height: 100vh; */
    margin-top: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
    /* display: flex;
    justify-content: center; */
    padding-right: 20%;
    padding-left: 20%;
   
}

.tapcard h3{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}
.tapcard p{
    font-style: italic;
}
.tap{
    display: flex;
    justify-content: center;

}
@media  (max-width:1000px) {
    .tapcard{
        padding-left: 10%;
        padding-right: 10%;
    }
    
}