 
.fproduct {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .fproduct img {
    width: 100%;
    height: 100%;
  }
  .fproduct::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(252, 251, 251, 0.9),
      rgba(0, 0, 0, 0.1)
    );
    pointer-events: none;
  }
  .fproduct-title {
    position: absolute;
    top: 200px;
    left: 20px;
  }
  .fproduct-title h1 {
    opacity: 0.7;
    margin-bottom: 10px;
  }
  .fproduct-sub {
    display: flex;
    font-size: 20px;
    gap: 10px;
  }
  .fproduct-sub a {
    text-decoration: none;
    color: black;
  }
  