.tapcard{
    background: #EEEEEE;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
   padding-bottom: 30px;
}

.tapcard h3{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}
.tap-text{
     
    font-weight: 200;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.tap{
     display: flex; 
     flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.taps{
    width: 300px;
    /* border: 1px solid black; */
     
}
@media  (max-width:1000px) {
    .tapcard{
        padding-left: 10%;
        padding-right: 10%;
    }
    
}
@media  (max-width:500px) {
    .tapcard{
        padding-left: 5%;
        padding-right: 5%;
    }
.lastcard{
    /* display: none; */
}
.tapcard h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.tap-text{
    font-size: 12px;
    line-height: 18px;
}
    
}