nav{ 
    width: 100%;
    padding: 4px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    background: #eeeeee;
    
}
.nav-logo{
    width: 180px;
    padding: 3px 2px;
    margin-top: 2px;
}
.nav-logo img{
    width: 100%;
}
.bars{
    display: none;
     
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav ul li a {
    color: rgb(43, 42, 42);  
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;
}

 
nav ul li a:hover {
    color: #1e4753; 
}

 
nav ul li a.active {
    color: #1e4753;  
}

.dark-nav{
    background: #eeeeee;
    box-shadow: 1px 1px 20px gray;
    transition: 0.5s;  
} 

 
@media (max-width: 1000px) {
    nav ul li{
        margin: 3px 10px;
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    nav ul {
        
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
        line-height: 30px;
        padding: 30px;
        padding-bottom: 100px;
        
    }
    
    .ul-display {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    .bars {
        display: block;
        margin-right: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li{
        font-size: 14px;
    }
    
    
}
    
@media (max-width: 500px) {
    .nav-logo{
        width: 150px;
    }
    
}