nav{ 
    width: 100%;
    padding: 4px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    background: #eeeeee;
    
}
.nav-logo{
    width: 180px;
    padding: 3px 2px;
    margin-top: 2px;
}
.nav-logo img{
    width: 100%;
}
.bars{
    display: none;
     
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav ul li a {
    color: rgb(43, 42, 42);  
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;
}

 
nav ul li a:hover {
    color: #1e4753; 
}

 
nav ul li a.active {
    color: #1e4753;  
}

.dark-nav{
    background: #eeeeee;
    box-shadow: 1px 1px 20px gray;
    transition: 0.5s;  
} 

 
@media (max-width: 1000px) {
    nav ul li{
        margin: 3px 10px;
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    nav ul {
        
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
        line-height: 30px;
        padding: 30px;
        padding-bottom: 100px;
        
    }
    
    .ul-display {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    
    .bars {
        display: block;
        margin-right: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li{
        font-size: 14px;
    }
    
    
}
    
@media (max-width: 500px) {
    .nav-logo{
        width: 150px;
    }
    
}

/* footer */
.footer {
    width: 100%;
    background: #eeeeee;
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .footer-left img {
    width: 200px; 
    border-radius: 5px;
  }
  .footer-icon {
    margin: 20px;
    display: flex;
    gap: 15px;
   
  }
  .icon {
    
    display: inline-block;
    border: 1px solid rgba(13, 13, 13, 0.765);
    border-radius: 50%;
    padding: 10px 15px; 
    text-align: center;
    color: rgb(21, 20, 20);
   
  }
  
  .underline-footer{
    width: 100%;
    height: 1px;  
    background: #1e4753;
    margin-top: 5px;  
    margin-bottom: 5px;  
  }
  
  .footer-middle h3,.footer-right h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(18, 17, 17);
  }
  .footer-middle a,
  ul {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: rgb(30, 29, 29);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
     
  }
   
  .footer-right {
    margin: 20px;
  }
  
  .footer-right-address {
    margin-top: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 35px;
  }
  .footer-right-address p {
    font-size: 16px;
    color: rgb(22, 21, 21);
  }
  .copy-right {
    text-align: center;
    padding: 20px;
    background: #eeeeee;
  }
  
  @media (max-width: 700px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px 20px;
    }
  
    .footer-left img {
      width: 150px;
    }
    .footer-icon { 
      gap: 10px;
      padding-left: 10px;
    }
    .icon {
      border-radius: 80px;
      padding: 10px 12px;
      font-size: 16px;
    }
    .footer-right {
      margin: 10px;
    }
    .footer-right-a a {
      display: none;
    }
    .footer-right-address {
      margin-top: 30px;
      line-height: 35px;
    }
    .footer-right-address p {
      font-size: 16px;
    }
    .middle ul li a {
      font-size: 18px;
    }
  }
  @media (max-width: 500px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px 20px;
    }
  
    .footer-left img {
      width: 150px;
    }
    .footer-icon { 
      gap: 10px;
      padding-left: 10px;
    }
    .icon {
      /* border-radius: 80px; */
      padding: 5px 10px;
      font-size: 15px;
    }
    .footer-right {
      margin: 10px;
    }
    .footer-right-a a{
      display: none;
    }
    .footer-right-address {
      margin-top: 20px;
      line-height: 25px;
    }
    .footer-right-address p {
      font-size: 14px;
    }
    .middle ul li a {
      font-size: 16px;
    }
    .copy-right{
      font-size: 12px;
    }
  }
   