.rightsidebar{
    flex: 1;
    /* height: 150vh;  */
    /* border: 1px solid red; */
    /* padding: 30px; */
  
}
.div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* height: 100%;  */
    /* width: 100%; */
    
}